<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/user_input">
      <input type="text" name="string">
      <input type="submit">
    </form>  
  </body>
</html>